body{

    text-align: center;
}
.btn{

    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}
.btn-container{
    margin-left: 250px;
    display: flex;
    text-align: center;
}
.red
{
    background-color: red;
}


.green{
    background-color: green;
}


.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green ;
}